element.style {
}
body {
    #blog-header {
        height: 100px;
        background-color: #006aff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
        position: relative;
    }
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
ユーザー エージェント スタイルシート
header {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: #1e1e1e;
    font-family: "Noto Sans JP", serif;
}
body {
    word-wrap: break-word;
}
html {
    color: #000;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
